.highlight {
  position: relative;
  background: #000;

  .copy-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    opacity: 0;
    transition: opacity .4s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    padding: 0.25rem 0.5rem;

    &:hover {
      background-color: desaturate(lighten($accent, 10), 10);
    }
  }

  &:hover .copy-button, .copy-button.active {
    opacity: 0.8;
  }

  pre {
    padding: 0.75rem 1rem;
    border: 1px solid transparentize($accent, 0.6);
  }
}
