.highlight {
  position: relative;
  background: #000;

  .copy-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    padding: 0.25rem 0.5rem;

    &:hover {
      background-color: desaturate(lighten($accent, 10), 10);
    }
  }

  .lang-tab {
    position: absolute;
    top: -1.7rem;
    right: 0;
    color: $accent;
    border: 0.1rem solid transparentize($color: $accent, $amount: 0.8);
    background-color: transparentize($color: $accent, $amount: 0.9);
    padding: 0 0.5rem;
    user-select: none;
    font-size: 0.85rem;
  }

  &:hover .copy-button,
  .copy-button.active {
    opacity: 0.8;
  }

  pre {
    overflow-x: auto;
    white-space: pre;
    padding: 0.75rem 1rem;
    border: 1px solid transparentize($accent, 0.6);
  }
}
