body {
  --pagefind-ui-primary: #eeeeee;
  --pagefind-ui-text: #eeeeee;
  --pagefind-ui-background: #152028;
  --pagefind-ui-border: #152028;
  --pagefind-ui-tag: #152028;
  --pagefind-ui-font: 'Fira Code', Monaco, Consolas, Ubuntu Mono, monospace;
}

#siteSearch {
  margin-top: 1rem;
  min-height: 52px;

  li::before {
    content: '';
  }
}
