// $border-color: mix($accent, #999, 90%);

body {
  --pagefind-ui-primary: #eeeeee;
  --pagefind-ui-text: #ddd;
  --pagefind-ui-background: #{mix($background, #999, 95%)};
  --pagefind-ui-border: #{mix($accent, #000, 30%)};
  --pagefind-ui-tag: #152028;
  --pagefind-ui-font: 'Fira Code', Monaco, Consolas, Ubuntu Mono, monospace;

  --pagefind-ui-border-radius: 0;
}

#siteSearch {
  margin-top: 1rem;
  min-height: 52px;

  li::before {
    content: '';
  }

  .alert {
    height: 52px;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    background: #911111;
    color: #f29b9b;
    border-radius: 0.25rem;
    padding: 0.5rem;

    p {
      margin: 0;
    }

    p.small {
      font-size: 0.85rem;
    }
  }

  form::before {
    background-color: $accent;
  }

  input:focus {
    outline: none;
    border-color: mix($accent, #000, 50%);
  }

  input::placeholder {
    color: $accent;
  }
}
