.collapse-section {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;

  .section-title {
    display: flex;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    user-select: none;
    padding: 0.5rem 0.75rem;
    background: transparent;
    color: white;
    justify-content: start;
    border: 0.125rem solid transparent;
    margin-bottom: 0;
    border-left: 0.25rem solid darken($accent, 15%);
  }

  .section-title:hover {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .section-content {
    display: none;
    transition: all 0.3s ease-in-out;
  }

  .title-indicator {
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 0.5rem;
    transition: transform 0.2s ease-in-out;
  }

  &.open {
    .title-indicator {
      transform: rotate(90deg);
    }

    .section-title {
      background-color: darken($accent, 15%);
      border-top-color: rgba(0, 0, 0, 0.25);
      border-left: 0.125rem solid transparent;
    }

    .section-title:hover {
      background-color: darken($accent, 30%);
    }

    .section-content {
      display: block;
      border-bottom: 0.125rem solid $accent;
      background: rgba(255, 255, 255, 0.05);

      // margin-top: 0.25rem;
      padding: 0.5rem 1rem;
    }
  }
}
