.index-content {
  margin-top: 20px;
}

.framed {
  border: 1px solid $accent;
  padding: 20px;

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

.posts {
  width: 100%;
}

.post-title a {
  text-decoration: none;
}

.post-tags a {
  text-decoration: none;
}

.post-content a {
  color: $accent;
  text-decoration: underline;
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a {
  visibility: visible;
}

.post-content a:hover {
  color: darken($accent, 10%);
  text-decoration: none;
}

.post {
  width: 100%;
  text-align: left;
  padding: 20px 0;

  &:not(:last-of-type) {
    border-bottom: 1px solid $border-color;
  }

  &-meta {
    font-size: 1rem;
    margin-bottom: 10px;
    color: darken(desaturate($accent, 50%), 10%);
  }

  &-title {
    display: flex;

    $border: 3px dotted $accent;

    position: relative;
    color: $accent;
    margin: 0 0 15px;
    padding-bottom: 15px;
    border-bottom: $border;

    &.small {
      font-size: 1.1rem;
      padding-bottom: 10px;
    }

    &:not(.small)::after {
      content: "";
      position: absolute;
      bottom: 2px;
      display: block;
      width: 100%;
      border-bottom: $border;
    }
  }

  &-tags {
    display: block;
    margin-bottom: 20px;
    font-size: 1rem;
    opacity: 0.5;
  }

  &-content {
    margin-top: 30px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 2rem;
      margin-bottom: 1rem;
      font-weight: bold;
    }

    h2::before {
      content: "##";
      font-size: 1.4rem;
      color: #777;
      margin-right: 0.5rem;
    }

    h3::before {
      content: "###";
      font-size: 1.25rem;
      color: #777;
      margin-right: 0.5rem;
    }

    h4::before {
      content: "####";
      font-size: 1.1rem;
      color: #777;
      margin-right: 0.5rem;
    }
  }

  &-cover {
    border: 10px solid $accent;
    background: transparent;
    margin: 40px auto;
    padding: 10px;

    @media ($phone) {
      padding: 10px;
      border-width: 10px;
    }
  }

  ul {
    list-style: none;

    li:not(:empty)::before {
      content: "-";
      position: absolute;
      left: -20px;
      color: $accent;
    }
  }
}

.post-regulation {
  h1 {
    justify-content: center;
  }

  h2 {
    justify-content: center;
    margin-bottom: 10px;

    & + h2 {
      margin-top: -10px;
      margin-bottom: 20px;
    }
  }
}

.no-posts {
  text-align: center;
  margin: 4rem 0;
  font-size: 1.2rem;
}

.hanchor {
  color: transparentize($accent, 0.1);
  text-decoration: none;
  margin-left: 10px;
  visibility: hidden;
}

.footnotes {
  color: transparentize($color, 0.5);
}
