<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">
  <head>
    {{ block "title" . }}
      <title>
        {{ if .IsHome }}
          {{ $.Site.Title }}
        {{ else }}
          {{- if .Title }}{{ .Title }} ::{{ end }}
          {{ $.Site.Title }}
        {{ end }}
      </title>
    {{ end }}
    {{ partial "head.html" . }}
  </head>
  <body class="flex bg-neutral-900 text-white">
    <div class="flex flex-col w-full max-w-4xl mx-auto p-6">
      {{ partial "header.html" . }}


      <div class="content">
        {{ block "main" . }}
        {{ end }}
      </div>

      {{ block "footer" . }}
        {{ partial "footer.html" . }}
      {{ end }}
    </div>
  </body>
</html>
