{{ define "main" }}
  {{ with .Content }}
    <div class="mt-8" data-pagefind-body>
      {{ with $.Title }}
        <h1 class="post-title text-2xl">
          {{ . | markdownify }}

          {{ if $.Draft }}
            <span
              class="flex center uppercase items-center text-sm px-2 select-none text-orange-400 bg-orange-800 ml-auto rounded-full"
              >Draft</span
            >
          {{ end }}
        </h1>
      {{ end }}
      {{ . }}
    </div>
  {{ end }}
  <div class="posts w-full mt-12">
    {{ $pages := .Paginator.Pages }}
    {{ if .Params.showAllSubPages }}
      {{ $pages = .Pages }}
    {{ end }}

    {{ $postContext := dict "Pages" $pages "Parent" . }}
    {{ partial "post-list.html" $postContext }}

    {{ partial "pagination.html" . }}
  </div>
{{ end }}
