{{ define "main" }}
  {{ with .Content }}
    <div class="index-content" data-pagefind-body>
      {{ with $.Title }}
        <h1 class="post-title">
          {{ . | markdownify }}

          {{ if $.Draft }}
            <span
              class="draft-label flex center uppercase items-center text-sm px-2 select-none text-orange-100 bg-orange-600 ml-auto rounded-full"
              >Draft</span
            >
          {{ end }}
        </h1>
      {{ end }}
      {{ . }}
    </div>
  {{ end }}
  <div class="posts">
    {{ $pages := .Paginator.Pages }}
    {{ if .Params.showAllSubPages }}
      {{ $pages = .Pages }}
    {{ end }}

    {{ $postContext := dict "Pages" $pages "Parent" . }}
    {{ partial "post-list.html" $postContext }}

    {{ partial "pagination.html" . }}
  </div>
{{ end }}
