{{ define "main" }}
  <div class="terms">
    <h1>{{ .Title }}</h1>
    <ul>
      {{ $type := .Type }}
      {{ range $key, $value := .Data.Terms.Alphabetical }}
        {{ $count := .Count }}
        {{ with $.Site.GetPage (printf "/%s/%s" $type .Name) }}
          <li class="flex items-center">
            <a class="py-1 pr-2" href="{{ .Permalink }}">{{ .Name }}</a>
            <span class="bg-fuchsia-950 text-fuchsia-500 px-2 rounded-full">
              {{ $count }}
            </span>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
{{ end }}
