/* TODO: Switch to PostCSS */
/* stylelint-disable */

.footer {
  padding: 20px 0;
  flex-grow: 0;
  color: #a0a0a0;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media (width <= 900px) {
  .footer__inner {
    flex-direction: column;
  }
}

.footer a {
  color: inherit;
}

.footer__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 1rem;
}
@media (width <= 684px) {
  .footer__menu {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.footer__menu span {
  display: block;
}

.footer__menu span:not(:last-child)::after {
  content: "::";
  margin: 0 0.25rem;
}
@media (width <= 684px) {
  .footer__menu span {
    margin: 0.25rem 0;
  }

  .footer__menu span:not(:last-child)::after {
    content: "";
    margin: 0;
  }
}

.footer__menu a:hover {
  color: white;
  text-decoration: underline;
}

.footer .git-info {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.75rem;
}
@media (width <= 684px) {
  .footer .git-info {
    flex-direction: column;
    text-align: center;
  }

  .footer .git-info .hash,
  .footer .git-info a.edit-page {
    justify-content: center;
  }
}

.footer .git-info > * {
  display: flex;
}

.footer .git-info > *:not(:last-child)::after {
  content: "::";
  margin: 0 0.5rem;
}
@media (width <= 684px) {
  .footer .git-info > * {
    margin: 0.25rem 0;
  }

  .footer .git-info > *:not(:last-child)::after {
    content: "";
    margin: 0;
  }
}

.footer .git-info a {
  display: flex;
  align-items: center;
}

.footer .git-info a:hover {
  color: white;
  text-decoration: none;
}

.footer .git-info a svg {
  margin-right: 0.5rem;
}

.footer .git-info a.edit-page {
  display: flex;
  align-items: center;
}

.footer .git-info a.edit-page svg {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
}

.footer .copyright {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  align-items: center;
  font-size: 1rem;
  justify-content: center;
  margin: auto;
  text-align: center;
}

.footer .copyright > *:first-child:not(:only-child) {
  margin-right: 10px;
}

.footer .copyright span {
  white-space: nowrap;
}
