.prose blockquote {
  @apply py-2 border-x-0 my-6 pl-8 pr-0 py-4 sm:pr-4 border-y-2 border-fuchsia-500 bg-black relative;
}

.prose blockquote::before {
  @apply absolute left-2 text-fuchsia-500;

  content: ">";
}

.prose blockquote p {
  @apply relative text-neutral-200 my-4;
}

.prose blockquote p::before {
  content: "";
}

.prose blockquote p:first-of-type {
  @apply mt-0;
}

.prose blockquote p:last-of-type {
  @apply mb-0;
}

.prose blockquote p strong {
  @apply text-neutral-50;
}

.prose code::before {
  content: "";
}

.prose code::after {
  content: "";
}

.prose a {
  @apply text-fuchsia-500 underline;
}

.prose a:hover {
  @apply text-fuchsia-300;
}

.prose pre {
  @apply rounded-none mt-10 !bg-black;
}

.prose ol li::marker {
  @apply text-fuchsia-500 font-bold;
}

.prose table {
  @apply block border-2 border-fuchsia-500 border-collapse w-fit max-w-full mx-auto overflow-x-auto;
}

.prose table td, .prose table th {
  @apply border border-fuchsia-500 py-2 px-3;
}

.prose table * {
  @apply border-fuchsia-500 border-dashed;
}
