{{ define "main" }}
<h1 class="text-4xl font-bold px-4 mt-2 mb-4">{{ .Title }}</h1>

<div class="flex px-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-4 gap-y-4">
    {{ range .Pages.ByPublishDate.Reverse }}
    <a href="{{ .RelPermalink }}" class="flex flex-col bg-gray-200 text-gray-900 rounded-lg px-3 py-4 shadow transition-all hover:shadow-lg">
        <h2 class="text-2xl font-bold mb-2">{{ .Title }}</h2>
        <div class="flex gap-x-2">
            {{ range (.GetTerms "tags") }}
                <span class="flex text-sm px-2 bg-gray-500 text-gray-50 rounded-full">{{ .LinkTitle }}</span>
            {{ end }}
        </div>
    </a>
    {{ end }}
</div>
{{ end }}
