<footer class="footer bg-neutral-900 text-neutral-400 py-6">
  <div class="footer__inner">
    {{ if gt (len .Site.Menus.footer) 0 }}
      <nav class="footer__menu">
        {{ range .Site.Menus.footer }}
          <span><a href="{{ .URL }}">{{ .Name }}</a></span>
        {{ end }}
      </nav>
    {{ end }}

    {{ if .GitInfo }}
      <div class="git-info text-sm">
        {{ if .Site.Params.GitRepoURL }}
          <span>
            <a
              href="https://github.com/nikkomiu/blog/tree/{{ .GitInfo.Hash }}"
              class="hash"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <use href="#svg-git" />
              </svg>
              {{ .GitInfo.AbbreviatedHash }}
            </a>
          </span>
        {{ else }}
          <span class="hash">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              viewBox="0 0 16 16"
            >
              <use href="#svg-git" />
            </svg>
            {{ .GitInfo.AbbreviatedHash }}
          </span>
        {{ end }}

        {{ if and .Site.Params.GitRepoURL .Site.Params.GitDefaultBranch }}
          <span>
            <a
              href="{{ .Site.Params.GitRepoURL }}/blob/{{ default (os.Getenv "CF_PAGES_BRANCH") .Site.Params.GitDefaultBranch }}/content/{{ .Page.File.Path }}"
              class="edit-page"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                height="20"
                width="20"
              >
                <use href="#hi-pencil-square" />
              </svg>
              Edit
              {{ .Type | inflect.Singularize | strings.Title }}
            </a>
          </span>

          <span>
            <a
              href="https://github.com/nikkomiu/blog/issues/new?template=page.yaml&page_url={{ .Page.Permalink }}&commit_sha={{ .GitInfo.Hash }}"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                height="20"
                width="20"
              >
                <use href="#hi-exclamation-circle" />
              </svg>
              Page Issue
            </a>
          </span>
        {{ end }}


        <span>
          Last Update
          {{ .GitInfo.AuthorDate | time.Format ":date_short" }}
        </span>
      </div>
    {{ end }}


    <div class="copyright">
      <span class="text-sm">
        {{ if $.Site.Copyright }}
          @ {{ $.Site.Copyright | safeHTML }} ::
          {{ now.Year }}
        {{ else }}
          ©
          {{ now.Year }}
        {{ end }}
      </span>
    </div>
  </div>
</footer>
