<header class="header w-full max-w-3xl mx-auto mt-2 md:mt-6 px-2">
  <div class="flex">
    <div class="flex flex-1 header-logo">
      {{ partial "logo.html" . }}
    </div>
    {{ if len $.Site.Menus }}
      {{ partial "mobile-menu.html" . }}
    {{ end }}
    {{ if and $.Site.Params.showLanguageSelector (len $.Site.Home.AllTranslations) }}
      {{ partial "language-menu.html" . }}
    {{ end }}

    {{ if len $.Site.Menus }}
      {{ partial "menu.html" . }}
    {{ end }}
  </div>

  <ul class="breadcrumbs flex items-stretch overflow-x-auto py-6">
    {{- range .Ancestors.Reverse }}
      <li class="flex mr-2 select-none whitespace-nowrap">
        <a
          class="underline transition-all ease-in-out text-neutral-300 hover:text-white hover:no-underline"
          href="{{ .RelPermalink }}"
        >
          {{ .Title }}
        </a>
      </li>
    {{- end }}
    <li class="flex text-neutral-400 select-none whitespace-nowrap">
      {{ .Title }}
    </li>
  </ul>
</header>

<div
  id="gbl-site-search"
  class="site-search flex min-h-[52px] w-full max-w-3xl mt-0 mb-12 mx-auto px-2"
  data-turbo-permanent
>
  <div
    class="fade-in-perception border-2 border-neutral-900 bg-black w-full flex items-center px-4"
  >
    <div class="loading hidden flex text-neutral-600">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        width="20"
        height="20"
        class="spin"
      >
        <use href="#hi-arrow-path" />
      </svg>
      <span class="ml-2">Loading search...</span>
    </div>
    <noscript>
      <div class="flex text-neutral-700">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          width="20"
          height="20"
          class="text-yellow-900"
        >
          <use href="#hi-exclamation-triangle" />
        </svg>
        <span class="ml-2">JavaScript is required for search to work.</span>
      </div>
    </noscript>
  </div>
</div>
